[user]
  name = Jeff Rescignano
  email = {{ .email | quote }}
  {{- if eq .class "personal" }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPd7YTi+a7/xbOv53XhAa9qImiq3Yv3z8jOzInv9q41a
  {{ end }}
  {{- if eq .class "work" }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMhMqkkJzMyUxdoKRMMeJ8uk1YhukiWst1TJy75sleRC
  {{ end }}
  
[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

{{- if eq .class "personal" }}
[credential]
  helper = store

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
{{ end }}

[init]
  defaultBranch = main
